.container{
    height: 100%;
    background-color: rgb(255, 255, 255);
}

.header{
    height: 150px;
    background-image: linear-gradient(200deg, #fff, #0099cc);
    overflow: hidden;
    position: relative;
}

.title1{
    color: #fff;
    font-size: 30px;
    padding-left: 15%;
}
.title2{
    color: #fff;
    font-size: 75px;
    text-align: center;
    font-weight: bold;
}
.rebackBtn{
    position: fixed;
    bottom: 5%;
    right: 5%;
    height: 37.5px;
    line-height: 22.5px;
    font-size: 22.5px;
}
.time{
    position: absolute;
    bottom: 4%;
    left:1%;
    font-size: 22.5px;
    color: #fff;
}