.div{
    background-color: #fff;
    height: 100%;
}

.header{
    background-color: #0099CC;
    padding-left: 15%;

    height: 131.25px;
    width: 100%;
}

.title{
    color:#fff;
    font-size:90px;
    line-height:112.5px;
    font-weight:bold;
}

.infectListContainer{
box-sizing: border-box;
    background-color: #EEEEFF;
}

.leftContainer{
    height: 95%;
    padding: 9px;
}

.rightContainer{
    height: 95%;
    padding: 9px;
}

.inlandList{
    text-align: center;
    display: flex;
    width:100%;
}

.listItem1{
    flex: 1;
}

.listItem2{
    flex: 2;
}

.listContainer1{
    height: 95%;
    width: 100%;
}